main{
    margin-right: 100px;
    margin-top: -350px;
    float: right;
    width: 400px;
    font-family: Arial, serif;
    font-weight: bold;
}

body{
    background-color: #b4da55;
}
button{
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1{
    font-family: arial, serif;
    color: darkgreen;
}


